body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: rgba(145, 179, 238, 0.555);
    background: -webkit-linear-gradient(to top, rgba(145, 179, 238, 0.555), rgba(116, 158, 236, 0.822));
    background: linear-gradient(to top, rgba(145, 179, 238, 0.555), rgba(116, 158, 236, 0.822));
    background-repeat: no-repeat;
}
li a:link, ul a:link{
    text-decoration: none;
}
li, ul{
    list-style: none;
}
i{
    font-size: 15px;
    padding-right: 5px;
}
/* Inicio del Header */
header{
    position: fixed;
    display: inline-flex;
    background-color: #005883;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 3px solid #004c72;
    align-items: center;
    width: 96%;
    height: 75px;
    z-index: 100;
}
header img{
    position: absolute;
    left: 40px;
}
header ul{
    position: absolute;
    justify-content: right;
    margin: 0px;
    padding: 0px;
    right: 50px;
}
header ul li{
    display: inline-flex;
    margin: 0px 10px;
}
header ul li a{
    border-radius: 5px;
    background-color: #F0B429;
    margin: 0px;
    padding: 0px 15px 0px 15px;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.24);
}
header ul li a:hover{
    background: #f47920;
    border-radius: 7px;
    transform: scale(1.05);
    transition: all 0.3s;
}
header ul li a:active{
    background: #a75113;
    transform: scale(1);
    transition: all 0.3s;
}
/* Fin del Header */
/* Inicio del Slider */
.slider{
    display: inline-flex;
    margin: 0% 6%;
    margin-top: 125px;
    padding-left: 6%;
    height: auto;
    width: 88%;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, rgb(230, 235, 243), rgba(236, 241, 252));
    background: linear-gradient(to right, rgb(230, 235, 243), rgba(236, 241, 252));
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    border: 3px solid #005783c4;
    box-sizing: border-box;
}
.slider i{
    font-size: 66px;
    padding-right: 35px;
    color: rgb(1, 104, 48);
}
.slider articule{
    display: inline;
    padding: 3% 6%;
    padding-left: 0px;
}
/* Fin del Slider */
/* Inicio del menú */
.menu{
    margin: 0% 6%;
    height: auto;
    width: 88%;
    padding: 0px;
    border: 2px solid rgb(228, 169, 33);
    background-color: #F0B429;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.menu li{
    display: inline-block;
}
.boton a{
    border-radius: 7px;
    transition: background 0.7s;
}
li a, .boton a{
    display: inline-block;
    padding: 7px 45px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.356);
}
.desplegable1, .desplegable2, .desplegable3{
    display: none;
    background-color: #F0B429;
    position: absolute;
    border-radius: 7px;
    z-index: 4;
}
.desplegable1 a, .desplegable2 a, .desplegable3 a{
    padding: 7px 26.1875px;
}
.desplegable1 a:hover, .desplegable2 a:hover, .desplegable3 a:hover{
    background-color: #f47920;
    border-radius: 7px;
}
.desplegable1{
    min-width: 169.6px;
}
.desplegable2{
    min-width: 188.65px;
}
.desplegable3{
    min-width: 189.72px;
}
.boton a:hover{
    background: #f47920;
    border-radius: 7px;
    transform: scale(1.05);
}
.boton a:active, .desplegable1 a:active, .desplegable2 a:active, .desplegable3 a:active{
    background: #381a04;
    transform: scale(1.01);
}
.boton:hover .desplegable1, .boton:hover .desplegable2, .boton:hover .desplegable3{
    display: block; 
}
.desplegable1 a, .desplegable2 a, .desplegable3 a{
    display: block;
    text-align: center;
    transition: all 0.35s;
}
form{
    padding: 0px;
    width: auto;
    height: auto;
    display: inline-block;
}
fieldset{
    display: inline-block;
    height: 32px;
    width: 257px;
    padding:0px;
    padding-left: 33px;
    border: 0px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
}
.fa-search{
    color: #b3b3b3;
    transform: translate(-203px,0);
    transition: all 0.75s;
}
fieldset input{
    position: relative;
    vertical-align: top;
    height: 32px;
    border: none;
    width: 222px;
    border-radius: 5px 0px 0px 5px;
    z-index: 3;
}
fieldset input:focus, fieldset button:focus, fieldset button i:focus{
    outline: none;
}
fieldset button{
    padding: 10px;
    margin: 0px;
    padding: 8.5px 10px;
    border: none;
    height: 32px;
    border-radius: 0px 5px 5px 0px;
    background: white;
    transform: translate(-50px,0);
    transition-duration: 0.75s;
    text-align: right;
}
fieldset button i{
    padding: 0px;
}
fieldset input:focus + button{
    background: #005883;
    transform: translate(0,0);
    transition-duration: 0.75s;
}
fieldset input:focus + button .fa-search{
    color: white;
    transform: translate(0,0);
    transition: all 0.75s;
}
/* Fin del menú */
/* Inicio del contenendor principal */
audio{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 25px;
    border: 2px solid rgb(56, 59, 70);
}

.contenedorprincipal{
    width: 84%;
    height: auto;
    background: rgba(224, 234, 252, 0.6);
    margin: auto;
    margin-bottom: 20px;
    padding: 2%;
    padding-top: 1.8%;
    box-sizing: padding;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
/* Inicio del área para publicación de información */
.contenedorinformacion{
    padding: 3% 5%;
    margin-right: 1.1%;
    width: 70%;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.726);
    font-size: 18px;
    border: 1px solid #acaba773;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 7px;
}
.contenedorinformacion ul li{
    list-style-type: circle;
}
.contenedorinformacion h1{
    text-align: center;
}
.contenedorinformacion iframe{
    width: 100%;
}
/* Fin del área para publicación de información */
/* Inicio del Aside */
aside{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin: 0px;
    padding: 3% 4%;
    align-items: start;
    width: 33%;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.726);
    right: 0px;
    border: 1px solid #acaba773;
    box-sizing: border-box;
    border-radius: 7px;
}
.widgetsaside{
    background-color: #292F33;
    border-radius: 7px;
    padding: 6%;
    width: 88%;
    height: auto;
    display: block;
    margin-bottom: 25px;
}
.widgetsaside, .widgetsaside a i{
    color: white;
}
.widgetsaside section{
    text-align: center;
    margin-bottom: 15px;
}
.widgetsaside a i{
    font-size: 35px;
    padding: 8px;
}
.logosredes{
    display: flex;
    width: 186.5px;
    margin: auto;
}
.contador a{
    display: flex;
    width: 115px;
    margin: auto;
}

/* Fin del Aside */
/* Inicio de los datos de los autores */
.tituloautor{
    width: 98%;
    height: auto;
    padding: 1%;
    margin-bottom: 5%;
    border-radius: 7px;
    background-color: lightblue;
}
.informacion{
    margin-top: auto;
    margin-bottom: auto;
}
.autor{
    text-align: left;
    background-color: lightblue;
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 7px;
    display: inline-flex;
}
.autor:hover{
    transform: scale(1.05);
    background-color: rgb(145, 199, 218);
    transition: all 0.25s;
}
.autor img{
    width: 125px;
    height: 130px;
    border-radius: 9px;
    margin-right: 15px;
}
/* Fin de los datos de los autores */
/* Inicio del Footer */
footer{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    height: 68px;
    width: 100%;
    background-color: #333333;
    display: inline-flex;
}
.datos{
    display: block;
    width: 300px;
    padding: 19px 50px;
    margin: 0px;
    margin-right: 190px;
}
.footerboton{
    display: inline-flex;
    position: relative;
    padding: 2px;
    align-items: center;
    align-content: center;
}
.footerboton a{
    padding: 3px;
}
footer ul{
    width: 220px;
    height: 28px;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Fin del Footer */