body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: rgba(145, 179, 238, 0.555);
    background: -webkit-linear-gradient(to top, rgba(145, 179, 238, 0.555), rgba(116, 158, 236, 0.822));
    background: linear-gradient(to top, rgba(145, 179, 238, 0.555), rgba(116, 158, 236, 0.822));
}
li a:link, ul a:link{
    text-decoration: none;
}
li, ul{
    list-style: none;
}
header{
    position: fixed;
    display: inline-flex;
    background-color: #005883;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 3px solid #004c72;
    align-items: center;
    width: 96%;
    height: 75px;
}
header img{
    position: absolute;
    left: 40px;
}
header ul{
    position: absolute;
    justify-content: right;
    margin: 0px;
    padding: 0px;
    right: 50px;
}
header ul li{
    display: inline-flex;
    margin: 0px 10px;
    
}
header i{
    font-size: 15px;
    padding-right: 5px;
}
header ul li a{
    border-radius: 5px;
    background-color: #F0B429;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    height: 31px;
    line-height: 31px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.24);
}
.slider{
    display: inline-flex;
    margin: 0% 6%;
    margin-top: 125px;
    padding: 3% 6%;
    height: auto;
    width: 75%;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, rgb(230, 235, 243), rgba(236, 241, 252));
    background: linear-gradient(to right, rgb(230, 235, 243), rgba(236, 241, 252));
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    align-items: center;
    border: 3px solid #005783c4;
}
.slider i{
    font-size: 66px;
    padding-right: 35px;
    color: rgb(1, 104, 48);
}
.slider article{
    display: inline;
    padding: 0px;
    margin: 0px;
}
nav ul li{
    color: burlywood;
}